// Place all the styles related to the dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#taskbar{
    background-color: lightblue;
    padding: 10px 0px;
    margin: 0;
}
#row_content{
    margin: 15px 0px;
}
footer{
    background-color: lightblue;
    padding: 20px 20px;
}